repos:
  - repo: https://github.com/python-poetry/poetry
    rev: "1.6.0"
    hooks:
      - id: poetry-check
      - id: poetry-lock
  - repo: https://github.com/ambv/black
    rev: "23.10.0"
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: "5.12.0"
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/pydocstyle
    rev: "6.3.0"
    hooks:
      - id: pydocstyle
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.1.1"
    hooks:
      - id: ruff
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.6.1"
    hooks:
      - id: mypy
